<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ItemMapper">
    <resultMap id="itemMap" type="com.entity.Item">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="typeId" property="typeId"/>
        <result column="price" property="price"/>
        <result column="sales" property="sales"/>
        <result column="remain" property="remain"/>
        <result column="note" property="note"/>
    </resultMap>
    <select id="selectAll" resultMap="itemMap">
        select id,name,typeId,price,sales,remain,note from item
    </select>
    <select id="selectById" resultMap="itemMap">
        select id,name,typeId,price,sales,remain,note from item where id=#{id}
    </select>
    <select id="selectByTypeId" resultMap="itemMap">
        select id,name,typeId,price,sales,remain,note from item where typeId=#{typeId}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into item(name,typeId,price,sales,remain,note)
        values(#{name},#{typeId},#{price},#{sales},#{remain},#{note})
    </insert>
    <update id="update">
        update item set name=#{name},typeId=#{typeId},price=#{price},sales=#{sales},remain=#{remain},note=#{note}
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from item where id=#{id}
    </delete>
</mapper>
